# Global owner for all files
*       @ankitpakhale

# Owner for specific directories
# /agents/  @ankitpakhale
# frontend/   @ankitpakhale

# Owner for specific files
*       @ankitpakhale

# Wildcard patterns
# *.js    @ankitpakhale
# *.py    @ankitpakhale
